@import './variables/color';

.primary-color {
    background-color: $primary-color;
}

.secondary-color {
    background-color: $secondary-color;
}

.background-color {
    background-color: $background-color;
}

.font-primary {
    color: $font-primary;
}

.font-secondary {
    color: $font-secondary;
}

.font-alt {
    color: $font-alt;
}
