.primary-color {
    background-color: #A2DE96;
}

.secondary-color {
    background-color: #BAE3AB;
}

.background-color {
    background-color: #F5F5F3;
}

.font-primary {
    color: #19193D;
}

.font-secondary {
    color: #A3DC98;
}

.font-alt {
    color: #B0B5AF;
}
