<div class="container">
    <!-- Apresentação -->
    <section class="row"></section>

    <!-- HOT DESSERTS -->
    <section class="row dessert-list">
        <rcp-hot-dessert-list></rcp-hot-dessert-list>
    </section>

    <!-- LEARN MORE -->
    <section class="row"></section>

    <!-- WHY CHOOSE -->
    <section class="row"></section>

    <!-- MENU -->
    <section class="row"></section>

    <!-- BOOK TABLE -->
    <section class="row"></section>

    <!-- CONTACT US -->
    <section class="row"></section>
</div>
