<nav id="toolbar" class="navbar navbar-light">
  <div class="row toolbar-container">
    <div class="row menu-itens">
      <a class="navbar-brand" href="#">
        <span class="dot">
          <img src="../../../assets/logo.svg" width="30" height="30" class="d-inline-block align-top" alt=""
            loading="lazy">
        </span>
      </a>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reservation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
    <a class="get-started btn-primary-color" href="#">GET STARTED</a>
  </div>
</nav>