<nav>
  <div class="logo">
    <div class="logo-container">
      <img src="../../../assets/logo.svg" alt="logo">
    </div>
  </div>
  <ul class="nav-links">
    <li>
      <a href="" class="link">
        Home
      </a>
    </li>

    <li>
      <a href="" class="link">
        About
      </a>
    </li>

    <li>
      <a href="" class="link">
        Menu
      </a>
    </li>

    <li>
      <a href="" class="link">
        Reservation
      </a>
    </li>

    <li>
      <a href="" class="link">
        Contact Us
      </a>
    </li>

    <li>
      <a href="" class="get-started">
        GET STARTED
      </a>
    </li>
  </ul>

  <div class="menu-mobile" (click)="toggleMenu()">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>