@import "src/styles/variables/color";

#toolbar {
  background-color: transparent;
  font-weight: bold;
  color: $font-alt;
  display: flex;

  .toolbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .menu-itens {
    padding-left: 50px;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar-brand {
    margin-left: 10px;
  }

  .dot {
    height: 50px;
    width: 50px;
    background-color: $primary-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  .get-started {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    font-size: 16px;
    border-radius: 50px;
    text-decoration: none;
    height: 45px;
    padding: 0 16px;
    cursor: pointer;
    margin-right: 50px;
  }

  .btn-primary-color {
    border-color: $primary-color;
    color: $primary-color;
  }

  .get-started:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: #fff;
  }
}
